html,
body {
  padding: 0px;
  margin: 0px;
  user-select: none;
  font-family: Karla, Helvetica Neue, Helvetica, sans-serif;
  background: rgb(34, 34, 34);
  color: white;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.renderers {
  overflow: auto;
  flex: 1 1;
  display: flex;
  flex-direction: row;
}

.controller {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 1rem;
  margin: 1rem 1rem 0;
}

.renderer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 1rem;
  margin: 1rem 1rem 1rem 0;
}
.renderer:first-of-type {
  margin-left: 1rem;
}

.heading {
  display: flex;
  flex-direction: row;
}

.heading h1 {
  flex: 1;
}

.heading button {
  margin: 0 10px;
  width: 75px;
}

.durations {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 1rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.component {
  padding: 1px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 3px;
}

.tree {
  margin-bottom: 10px;
}

.component.hidden {
  border: 1px dashed #ccc;
  border-radius: 3px;
}

.leaf {
  height: 10px;
}

.app-container {
  flex: 1 1 auto;
  overflow: auto;
}

.input {
  width: 50px;
}

.label {
  margin-right: 10px;
}

.container {
  margin: auto;
  padding: 10px;
}

.rendering {
  margin-top: 1rem;
  margin-bottom: 1rem;
  zoom: 1.8;
}

.controller-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
